body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="text"] {
  width: 60%; /* diminuiu de 80% para 60% */
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#addBtn {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bbf;
    color: #fff;
    border: none;
    border-radius: 3px;
}

#removeBtn {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #f73838;
    border: none;
    border-radius: 3px;

}

button:hover {

    background-color: #0056b3;
}

button:focus {

    outline: none;
}


/* ===================== RESPONSIVO ===================== */
@media (max-width: 768px) {
  #container {
    width: 90%;
    padding: 15px;
    font-size: 1rem;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #container {
    margin: 20px;
    padding: 10px;
    font-size: 0.95rem;
  }

  input[type="text"] {
    padding: 8px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li button {
    margin-top: 5px;
    width: 100%;
  }
}