header{
     background-color: #333;
     color: white ;
     text-align: center;   
     padding: 20px 0px;  

}

h1{
    margin: 0;
    font-size: 28px;
}

main{
 width: 80%;
 margin: 20px auto;


}

h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.texto-lista{
    font-style: italic;
    margin-bottom: 15px;
}

#destacado{
 
    background-color: yellow;
    padding: 10px;
    margin-bottom: 15px;

}

ul{

    list-style-type: none;
    padding-left: 0px;
    
}

div {

    display: flex;
}

input{

    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;

}
