body {

    padding: 30px;
      border: 3px solid #ff0000;
}

body > div{

    border: 3px solid #0000ff;
    padding: 10px;
    margin: 15px;
    background-color: #00ffff;
    color:#800080;
    border-radius: 50px;
    transform: rotate(10deg);


}